.firstViewImagePos {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-width: 75%;
    overflow: hidden;
}

.firstViewSize {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

.headlines {
    z-index: 1;
    text-align: left;
    margin-left: 5%;
    top: 90px;
    position: relative;
}

.fvSVGHeight {
    height: 80vh;
}
.headlineFvSmall {
    font-size: 48px;
    font-weight: 300;
    color: #707070;
}
.headlineBig {
    font-size: 110px;
    font-weight: 900;
    color: #94B840;
    line-height: 1.1;
}
@media screen and (max-width: 767px) {
    .headlineBig {
        font-size: 60px;
    }
    .headlineFvSmall {
        font-size: 28px;
        font-weight: 300;
        color: #707070;
    }
}